<!-- <div class="container" style="width: 100%"
     fxLayout="row"
     fxLayoutAlign="start center" fxLayoutGap="100px">

     <div fxFlex="30%">
      <div class="example-container">
        <mat-form-field>
          <input matInput placeholder="Name">
        </mat-form-field>
      </div>
    </div>

    <div fxFlex="30%">
      <div class="example-container">
        <mat-form-field>
          <input matInput placeholder="code">
        </mat-form-field>
  </div>
</div>
</div>

<div class="container" style="width: 100%"
     fxLayout="row"
     fxLayoutAlign="start center" fxLayoutGap="100px">

     <div fxFlex="30%">
       <div class="example-container">
      <mat-form-field>
       <mat-select placeholder="Select">
          <mat-option value="option">Option</mat-option>
    </mat-select>
  </mat-form-field>
  </div>
</div>
  </div>

  <div class="container" style="width: 100%"
     fxLayout="row"
     fxLayoutAlign="start center" fxLayoutGap="100px">

     <div fxFlex="30%">
        <div class="example-container">
            <mat-form-field>
              <input
                matInput
                (keyup)="applyFilter($event.target.value)"
                placeholder="Search"
              />
            </mat-form-field>
            </div>
            </div>
            <mat-paginator
            [pageSizeOptions]="[10, 20, 30]"
            showFirstLastButtons
          ></mat-paginator>
            </div>

 -->
